@charset "utf-8"; 
body, textArea, input, select, button{font-family:"Arial";}
body{
	padding: 0px; 
	margin: 0px; 
	color:black; 	 
	font-size:14px; 
	width:100%;
	position:absolute; 
	display:table; 
	min-width:1200px;
	background:white;}
a{color:inherit;}
ul{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{margin:0;font-weight:normal;}
h1{font-family:"Tahoma";font-size:11px;color:#7f8186;}/*заголовок страницы*/
h1{}/*заголовок страницы*/
h2{}/*заголовок основного блока*/
p{font-size:13px;color:#6f6f6f;line-height:21px;margin:0;}/*текст основного блока*/
textarea{margin:0;}
textarea:focus, input:focus, select:focus{outline: none;}
textarea:active, input:active, select:active{outline: none;}
input::-ms-clear {width : 0;height: 0;}
button{cursor:pointer;}
.null {height: 0px; min-height: 0px; line-height: 0px; font-size: 0px; overflow: hidden; clear: both;}
.allocate{text-align:justify;}
.allocate > *{display:inline-block;text-align:left;vertical-align:top;}
.allocate:after{content:"";width:100%;display:inline-block;}
/**равномерное распределение по горизонтали табличным блоком*/
.t-allocate-h{display:table;}
.t-allocate-h > *{display:table-cell;vertical-align:top;}
.t-allocate-h >*:last-child{width:1px;white-space:nowrap;}
/**равномерное распределение по горизонтали и центрирование по вертикали табличным блоком*/
.t-allocate-h-v{display:table;}
.t-allocate-h-v > *{display:table-cell;vertical-align:middle;}
.t-allocate-h-v >*:last-child{width:1px;white-space:nowrap;}
.tb{display:table;}
.td{display:table-cell;}
.tr{display:table-row;}
.content{width:1100px; margin-left:auto; margin-right:auto;position:relative;box-sizing:border-box;}
.content2{width:100%; position:relative;box-sizing:border-box;}
.btn{text-align:center;text-decoration:none;cursor:pointer;display:block;}
/*fields*/

/*items*/

/*header*/
.header{}
/*footer*/
.footer{}
.footer .dev{float:right;text-align:right;}
.footer .dev a{text-decoration:none;color:#980003;display:block;}
.footer .dev a:hover{text-decoration:underline;}
/*color scheme - цветовые схемы*/

/*главная страница макет*/
#Test{background:url("../index.jpg")no-repeat top center;position:absolute;top:0px;height:100%;width:100%;opacity:0.4;
	z-index:1000;pointer-events:none;}
#Test .content{border:1px solid red;border-bottom:0;border-top:0;position:absolute;top:0;bottom:0;left:0;right:0;}
